# Run on a specific port
PORT=3000

# Database connection string
DATABASE_URI=mongodb+srv://657b364c69769aed1ba6f1d2-prod:cb432579dca89cdc2afc8460833f15@657b364c69769aed1ba6f1d.abexbkj.mongodb.net/657b364c69769aed1ba6f1d2-prod

# Used to encrypt JWT tokens
PAYLOAD_SECRET=ecommerce_secret_key

# Used to format links and URLs
PAYLOAD_PUBLIC_SERVER_URL=http://localhost:3000
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Enable Stripe integration
STRIPE_SECRET_KEY=
PAYLOAD_PUBLIC_STRIPE_IS_TEST_KEY=true
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

# Enable Stripe webhooks (optional)
STRIPE_WEBHOOKS_SIGNING_SECRET=

# Allow robots to index the site (optional)
NEXT_PUBLIC_IS_LIVE=

# Used to preview drafts
PAYLOAD_PUBLIC_DRAFT_SECRET=demo-draft-secret
NEXT_PRIVATE_DRAFT_SECRET=demo-draft-secret

# Used to revalidate static pages
REVALIDATION_KEY=demo-revalation-key
NEXT_PRIVATE_REVALIDATION_KEY=demo-revalation-key
